<nav>
    <ol>
        <li><a href="/">Home</a></li>
        <li>Dashboard</li>
        <li>Edit Post</li>
    </ol>
</nav>

<div>
    <h3>Edit "{{post.title}}"</h3>
</div>

<div>
    <form>
        <div>
            <div>
                <label>Post Title</label>
                <input type="text" name="post-title" id="post-title" value="{{post.title}}">
            </div>
        </div>
        <div>
            <div>
                <labelfor="post-content">Content</labelfor=>
                <textarea type="text" name="post-content"
                    id="post-content">{{post.content}}</textarea>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <button type="submit">Delete post</button>
                    <button type="submit">Save</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>