<div>
  <div>
    <h1>Log in</h1>
    <form>
      <div>
        <label for="email-login">Email Address</label>
        <input type="email" id="email-login" aria-describedby="emailHelp">
      </div>
      <div>
        <label for="password-login"">Password</label>
        <input type="password" id="password-login">
      </div>
      <button type="submit">Log in</button>
    </form>
  </div>
  <div>
    <h1>Sign Up</h1>
    <form>
      <div>
        <label for="username-signup">Username</label>
        <input type="text" id="username-signup">
      </div>
      <div>
        <label for="email-signup">Email Address</label>
        <input type="email" id="email-signup">
      </div>
      <div>
        <label for="password-signup">Password</label>
        <input type="password" id="password-signup">
      </div>
      <button type="submit">Sign Up</button>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>